@import "tailwindcss";

 @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,300..900;1,300..900&display=swap');


 body {
  @apply bg-gradient-to-b from-[#F5F7FF] via-[#fffbee] to-[#E6EFFF] text-gray-800;
  font-family: 'Outfit', sans-serif; /* Optional: global font */
}
